/* we can use a single css file to style all the files in our wwebsite */

body {
  background-color: #197a29;
}


h1,h2,h3 {
  font-family: "Times New Roman", sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #84B59F;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}


/* animations for picture, title text, and marquis*/
.hotaf {
  margin: auto;
  width: 400px;
  height: 350px;
  border: 1px solid black;
  background-color: coral;
  color: white;
  animation: turnhehe 3s infinite;
}

@keyframes turnhehe {
  100% {transform: rotate(360deg);}
}
